<footer>
    <div class="footer-body">

        <div class="footer-div">
            <h1>TaskTabbit</h1>
        </div>

        <div class="footer-div">
            <h1>Useful Links</h1>
        </div>

        <div class="footer-div">
            <h1>More Links</h1>
        </div>

        <div class="footer-div">
            <h1>Newsletter</h1>
        </div>

    </div>




    <div class="bottom-bar">
        <div class="footer-nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            Copyright &copy; 2023 William Ileka
        </div>
    </div>

</footer>





<!-- JQUERY -->
<script src="js/jquery-3.1.0.min.js"></script>

<!-- RUBY MAIN JAVASCRIPT -->
<script src="js/ruby-main.js"></script>

<!-- RUBY DEMO JAVASCRIPT: FOR DEMO SHOWCASE ONLY! RUBY DEMO JAVASCRIPT IS NOT SUPPORTED! -->
<script src="js/ruby-demo.js"></script>