<footer>
    <div class="footer-body">

        <div class="footer-div">
            <h1>TaskTabbit</h1>
            <div class="text-container">
                <p>
                    Looking for reliable freelancers? Get help with TaskRabbit - your one-stop-shop for tasks big and
                    small.
                </p>
            </div>
            <div class="container">
                <div class="icon-box yt">
                    <box-icon type='logo' name='youtube'></box-icon>
                </div>

                <div class="icon-box ig">
                    <box-icon type='logo' name='instagram'></box-icon>
                </div>

                <div class="icon-box fb">
                    <box-icon type='logo' name='facebook'></box-icon>
                </div>

                <div class="icon-box tw">
                    <box-icon type='logo' name='twitter'></box-icon>
                </div>

            </div>

        </div>

        <div class="footer-div">
            <h1>Useful Links</h1>
            <ul class="ful">
                <li><a href="/help">Help</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Our Team</a></li>
            </ul>
        </div>

        <div class="footer-div">
            <h1>More Links</h1>
            <ul class="ful">
                <li><a href="">Find Freelancers</a></li>
                <li><a href="">Hiring</a></li>
                <li><a href="">Mission</a></li>
            </ul>
        </div>

        <div class="footer-div">
            <h1>Newsletter</h1>

            <input class="sub-email" placeholder="Your email id here" type="text">
            <input class="sub-button" type="button" value="Subscribe">
        </div>

    </div>




    <div class="bottom-bar">
        <div class="footer-nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <p class="copy">Copyright &copy; 2023 William Ileka</p>

        </div>
    </div>

</footer>



<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<!-- JQUERY -->
<script src="/js/jquery-3.1.0.min.js"></script>

<!-- RUBY MAIN JAVASCRIPT -->
<script src="/js/ruby-main.js"></script>