<header>
  <div class="ruby-menu-demo-header ruby-menu-demo-header-bg">
    <div class="ruby-menu-demo-description">
      <a href="/"><img src="/img/logo2.png" /></a>
    </div>

    <div class="ruby-wrapper ruby-menu-transparent">
      <button class="c-hamburger c-hamburger--htx visible-xs">
        <span>toggle menu</span>
      </button>
      <ul class="ruby-menu">
        <!-- NAV LINK NUMBER 1 -->
        <li class="ruby-menu-mega-shop">
          <a href="#">Graphics & Design</a>
          <div>
            <ul>
              <li class="ruby-active-menu-item">
                <a href="#">Illustrations</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Logo & Brand Identity</h3>
                      <ul>
                        <li><a href="#">Logo Design</a></li>
                        <li><a href="#">Brand Style Guides</a></li>
                        <li><a href="#">Business Cards</a></li>
                        <li><a href="#">Fonts & Typography</a></li>
                        <li><a href="#">Icon Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <img src="/img/illustration.png" alt="" />
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Illustration & Art</h3>
                      <ul>
                        <li><a href="#">Illustration</a></li>
                        <li><a href="#">AI Artists</a></li>
                        <li><a href="#">Children's Book Illustrations</a></li>
                        <li><a href="#">Cartoons & Comics</a></li>
                        <li><a href="#">Pattern Design</a></li>
                        <li><a href="#">Tattoo Design</a></li>
                        <li><a href="#">Pattern Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">3D Design</h3>
                      <ul>
                        <li><a href="#">3D Architecture</a></li>
                        <li><a href="#">3D Industrial Design</a></li>
                        <li><a href="#">3D Fashion & Garments</a></li>
                        <li><a href="#">3D Printing Characters</a></li>
                        <li><a href="#">3D Landscape</a></li>
                        <li><a href="#">3D Game Art</a></li>
                        <li><a href="#">3D Jewelry Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <img class="three-d" src="/img/3d.png" alt="" />
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Visual Design</h3>
                      <ul>
                        <li><a href="#">Image Editing</a></li>
                        <li><a href="#">Presentation Design</a></li>
                        <li><a href="#">Background Removal</a></li>
                        <li><a href="#">Infographic Design</a></li>
                        <li><a href="#">Vector Tracing</a></li>
                        <li><a href="#">Resume Design</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Digital & Print Design</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Fashion & Merchandise</h3>
                      <ul>
                        <li><a href="#">T-Shirt Design</a></li>
                        <li><a href="#">Fashion Design</a></li>
                        <li><a href="#">Jewelry Design</a></li>
                        <li><a href="#">Bag Design</a></li>
                        <li><a href="#">Mug Design</a></li>
                        <li><a href="#">Hat Design</a></li>
                        <li><a href="#">Pen Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Print Design</h3>
                      <ul>
                        <li><a href="#">Flyer Design</a></li>
                        <li><a href="#">Brochure Design</a></li>
                        <li><a href="#">Poster Design</a></li>
                        <li><a href="#">Catalog Design</a></li>
                        <li><a href="#">Menu Design</a></li>
                        <li><a href="#">Card Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Packaging & Covers</h3>
                      <ul>
                        <li><a href="#">Packaging & Label Design</a></li>
                        <li><a href="#">Book Design</a></li>
                        <li><a href="#">Book Covers</a></li>
                        <li><a href="#">Blog Design</a></li>
                        <li><a href="#">Album Cover Design</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Web & Software Designs</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Web & App Design</h3>
                      <ul>
                        <li><a href="#">Website Design</a></li>
                        <li><a href="#">App Design</a></li>
                        <li><a href="#">UX Design</a></li>
                        <li><a href="#">Landing Page Design</a></li>
                        <li><a href="#">Web Icon Design</a></li>
                        <li><a href="#">Enterprise Software Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Product & Gaming</h3>
                      <ul>
                        <li><a href="#">Level Art Design</a></li>
                        <li><a href="#">Character Modeling</a></li>
                        <li><a href="#">Game Art</a></li>
                        <li><a href="#">Graphics for Streamers</a></li>
                        <li><a href="#">Game Asset Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3"></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Marketing Design</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Advertising & Promotional Design
                      </h3>
                      <ul>
                        <li><a href="#">Banner ads design</a></li>
                        <li><a href="#">Brochure design</a></li>
                        <li><a href="#">Poster design</a></li>
                        <li><a href="#">Promotional merchandise design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Event Marketing Design
                      </h3>
                      <ul>
                        <li><a href="#">Event branding</a></li>
                        <li><a href="#">Poster and flyer design</a></li>
                        <li><a href="#">Program design</a></li>
                        <li>
                          <a href="#">Signage and wayfinding design</a>
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Social Media Design
                      </h3>
                      <ul>
                        <li>
                          <a href="#">Social media cover and header design</a>
                        </li>
                        <li><a href="#">Instagram post and story design</a></li>
                        <li><a href="#">Facebook ad design</a></li>
                        <li>
                          <a href="#">Social media campaign graphics design</a>
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Environmental Design
                      </h3>
                      <ul>
                        <li><a href="#">Trade show booth design</a></li>
                        <li><a href="#">Office and retail space design</a></li>
                        <li><a href="#">Event and exhibition design</a></li>
                        <li>
                          <a href="#">design for physical spaces</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ruby-menu-mega-shop">
          <a href="#">Video & Photography</a>
          <div>
            <ul>
              <li class="ruby-active-menu-item">
                <a href="#">Photography Services</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Portrait Photography</h3>
                      <ul>
                        <li><a href="#">Individual Portraits</a></li>
                        <li><a href="#">Family Portraits </a></li>
                        <li><a href="#">Group Portraits</a></li>
                        <li><a href="#">Headshots</a></li>
                        <li><a href="#">Lifestyle Portraits</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Product Photography</h3>
                      <ul>
                        <li><a href="#">E-commerce Product Photography</a></li>
                        <li><a href="#">Commercial Product Photography</a></li>
                        <li><a href="#">Food and Beverage Photography</a></li>
                        <li><a href="#">Jewelry Photography</a></li>
                        <li><a href="#">Fashion Photography</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Real Estate Photography</h3>
                      <ul>
                        <li><a href="#">Residential Photography</a></li>
                        <li><a href="#">Commercial Photography</a></li>
                        <li><a href="#">Interior Photography</a></li>
                        <li><a href="#">Exterior Photography</a></li>
                        <li><a href="#">Aerial Photography</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Event Photography</h3>
                      <ul>
                        <li><a href="#">Wedding Photography</a></li>
                        <li><a href="#">Corporate Event Photography</a></li>
                        <li><a href="#">Concert Photography</a></li>
                        <li><a href="#">Sports Event Photography</a></li>
                        <li><a href="#">Festival Photography</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Video Services</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Corporate Video Services
                      </h3>
                      <ul>
                        <li><a href="#">Company Overview Videos</a></li>
                        <li><a href="#">Promotional Videos</a></li>
                        <li><a href="#">Training Videos</a></li>
                        <li><a href="#">Event Videos</a></li>
                        <li><a href="#">Testimonial Videos</a></li>
                        <li><a href="#">Recruitment Videos</a></li>
                        <li><a href="#">Conference Videos</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Product Video</h3>
                      <ul>
                        <li><a href="#">Product Demo Videos</a></li>
                        <li><a href="#">How-to Videos</a></li>
                        <li><a href="#">Explainer Videos</a></li>
                        <li><a href="#">Product Launch Videos </a></li>
                        <li><a href="#">Customer Review Videos</a></li>
                        <li><a href="#">Unboxing Videos</a></li>
                        <li><a href="#">360-Degree Product Videos</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Social Media Video Services
                      </h3>
                      <ul>
                        <li><a href="#">Short-Form Video Production</a></li>
                        <li><a href="#">Instagram Story Videos</a></li>
                        <li><a href="#">TikTok Videos</a></li>
                        <li><a href="#">YouTube Videos</a></li>
                        <li><a href="#">Facebook Videos</a></li>
                        <li><a href="#">Animated Explainer Videos</a></li>
                        <li><a href="#">Social Media Ads</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Editing Services</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Video Editing Services</h3>
                      <ul>
                        <li><a href="#">Basic Video Editing</a></li>
                        <li><a href="#">Advanced Video Editing</a></li>
                        <li><a href="#">Color Correction</a></li>
                        <li><a href="#">Sound Editing</a></li>
                        <li><a href="#">Transitions and Effects</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Photo Editing Services</h3>
                      <ul>
                        <li><a href="#">Basic Photo Editing</a></li>
                        <li><a href="#">Advanced Photo Editing</a></li>
                        <li><a href="#">Color Correction</a></li>
                        <li><a href="#">Retouching and Restoration</a></li>
                        <li><a href="#">Background Removal</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3"></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Specialty Video & Photography</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        360-Degree Product Photography & Videography Services
                      </h3>
                      <ul>
                        <li><a href="#">360-Degree Product Photography</a></li>
                        <li><a href="#">360-Degree Product Videography</a></li>
                        <li><a href="#">Interactive Product Views</a></li>
                        <li><a href="#">Product Demonstration Videos</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Sports & Action Services
                      </h3>
                      <ul>
                        <li><a href="#">Sports Photography</a></li>
                        <li><a href="#">Sports Videography</a></li>
                        <li><a href="#">Slow-Motion Videos</a></li>
                        <li><a href="#">Highlight Reels</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Underwater Services
                      </h3>
                      <ul>
                        <li><a href="#">Underwater Photography</a></li>
                        <li><a href="#">Underwater Videography</a></li>
                        <li><a href="#">Scuba Diving Videos</a></li>
                        <li><a href="#">Marine Wildlife Photography</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Time-Lapse Services
                      </h3>
                      <ul>
                        <li><a href="#">Time-Lapse Photography</a></li>
                        <li><a href="#">Time-Lapse Videography</a></li>
                        <li><a href="#">Hyperlapse Videos</a></li>
                        <li><a href="#">Stop-Motion Animation</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ruby-menu-mega-shop">
          <a href="#">Music & Audio</a>
          <div>
            <ul>
              <li class="ruby-active-menu-item">
                <a href="#">Music Production</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Songwriting</h3>
                      <ul>
                        <li><a href="#">Custom Songwriting</a></li>
                        <li><a href="#">Lyric Writing</a></li>
                        <li><a href="#">Melody Writing</a></li>
                        <li><a href="#">Arrangement & Composition</a></li>
                        <li><a href="#">Song Demos & Recordings</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Music Recording</h3>
                      <ul>
                        <li><a href="#">Studio Recording</a></li>
                        <li><a href="#">Live Recording</a></li>
                        <li><a href="#">Multi-Track Recording</a></li>
                        <li><a href="#">Instrumental Recording</a></li>
                        <li><a href="#">Vocal Recording</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Music Production</h3>
                      <ul>
                        <li><a href="#">Music Arrangement & Composition</a></li>
                        <li><a href="#">Music Mixing & Mastering</a></li>
                        <li><a href="#">Music Production Consulting</a></li>
                        <li><a href="#">Instrumental Production</a></li>
                        <li><a href="#">Vocal Production</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">
                        Music Performance Services
                      </h3>
                      <ul>
                        <li><a href="#">Live Performance Recording</a></li>
                        <li><a href="#">Session Musicians</a></li>
                        <li><a href="#">Band Recording</a></li>
                        <li><a href="#">Solo Artist Recording</a></li>
                        <li><a href="#">Live Performance Streaming</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Audio Editing & Mixing</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Audio Mixing</h3>
                      <ul>
                        <li><a href="#">Multi-Track Mixing</a></li>
                        <li><a href="#">Stem Mixing</a></li>
                        <li><a href="#">Vocal Mixing</a></li>
                        <li><a href="#">Instrumental Mixing</a></li>
                        <li><a href="#">Stereo Mixing</a></li>
                        <li><a href="#">Surround Sound Mixing</a></li>
                        <li><a href="#">Mastering</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Audio Editing</h3>
                      <ul>
                        <li><a href="#">Audio Cleaning & Restoration</a></li>
                        <li><a href="#">Noise Reduction</a></li>
                        <li><a href="#">Audio Repair</a></li>
                        <li><a href="#">EQ and Compression</a></li>
                        <li><a href="#">Pitch Correction</a></li>
                        <li><a href="#">Audio Synchronization</a></li>
                        <li><a href="#">Audio Enhancement</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Audio Post-Production</h3>
                      <ul>
                        <li><a href="#">Post-Production Consulting</a></li>
                        <li><a href="#">Dialogue Editing & ADR</a></li>
                        <li><a href="#">Sound Effects Editing</a></li>
                        <li><a href="#">Foley Recording & Editing</a></li>
                        <li><a href="#">Sound Design & Scoring</a></li>
                        <li>
                          <a href="#">Mixing & Mastering for Film/TV</a>
                        </li>
                        <li>
                          <a href="#">Mixing & Mastering for Games</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Sound Design</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Sound Design</h3>
                      <ul>
                        <li><a href="#">Sound Effects Creation</a></li>
                        <li><a href="#">Foley Sound Design</a></li>
                        <li><a href="#">Ambient Sound Design</a></li>
                        <li><a href="#">Voiceover Recording</a></li>
                        <li><a href="#">Audio Post-Production</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Game Audio Design</h3>
                      <ul>
                        <li><a href="#">Game Sound Effects</a></li>
                        <li><a href="#">Background Music Composition</a></li>
                        <li><a href="#">Dialogue Editing</a></li>
                        <li><a href="#">Game Audio Integration</a></li>
                        <li><a href="#">Audio Localization</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3"></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Music Lessons & Instruction</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Instrument Lessons
                      </h3>
                      <ul>
                        <li><a href="#">Piano Lessons</a></li>
                        <li><a href="#">Guitar Lessons</a></li>
                        <li><a href="#">Drum Lessons</a></li>
                        <li><a href="#">Bass Lessons</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Vocal Lessons
                      </h3>
                      <ul>
                        <li><a href="#">Singing Lessons for Beginners</a></li>
                        <li><a href="#">Advanced Vocal Training</a></li>
                        <li><a href="#">Voiceover Training</a></li>
                        <li><a href="#">Vocal Performance Coaching</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Music Theory
                      </h3>
                      <ul>
                        <li><a href="#">Music Fundamentals</a></li>
                        <li><a href="#">Harmony & Counterpoint</a></li>
                        <li><a href="#">Music Analysis</a></li>
                        <li><a href="#">Music Composition Techniques</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Music Production & Recording
                      </h3>
                      <ul>
                        <li><a href="#">Recording Techniques</a></li>
                        <li><a href="#">Mixing & Mastering</a></li>
                        <li><a href="#">MIDI Programming</a></li>
                        <li><a href="#">Music Production Workflows</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ruby-menu-mega-shop">
          <a href="#">Digital Marketing</a>
          <div>
            <ul>
              <li class="ruby-active-menu-item">
                <a href="#">Search Engine Optimization</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">On-page SEO</h3>
                      <ul>
                        <li>
                          <a href="#">Keyword research and optimization</a>
                        </li>
                        <li>
                          <a href="#"
                            >Title tag and meta description optimization</a
                          >
                        </li>
                        <li><a href="#">Header tag optimization</a></li>
                        <li><a href="#">Content optimization</a></li>
                        <li><a href="#">Image optimization</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <!-- images go here -->
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Off-page SEO</h3>
                      <ul>
                        <li><a href="#">Link building</a></li>
                        <li><a href="#">Social media optimization</a></li>
                        <li><a href="#">Guest blogging</a></li>
                        <li><a href="#">Influencer outreach</a></li>
                        <li><a href="#">Business directory submission</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Technical SEO</h3>
                      <ul>
                        <li><a href="#">Site speed optimization</a></li>
                        <li><a href="#">Mobile responsiveness</a></li>
                        <li>
                          <a href="#">XML sitemap creation and submission</a>
                        </li>
                        <li><a href="#">Schema markup</a></li>
                        <li>
                          <a href="#">Canonicalization and 301 redirects</a>
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Local SEO</h3>
                      <ul>
                        <li><a href="#">Google My Business optimization</a></li>
                        <li>
                          <a href="#"
                            >Local keyword research and optimization</a
                          >
                        </li>
                        <li><a href="#">Local citation building</a></li>
                        <li><a href="#">Review management</a></li>
                        <li><a href="#">Geo-targeted content creation</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Content Marketing</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Content Creation</h3>
                      <ul>
                        <li><a href="#">Blog writing</a></li>
                        <li><a href="#">Social media content creation</a></li>
                        <li><a href="#">Infographic design and creation</a></li>
                        <li><a href="#">Video creation</a></li>
                        <li><a href="#">Podcast production</a></li>
                        <li><a href="#">Whitepaper creation</a></li>
                        <li><a href="#">Case study creation</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Content Distribution</h3>
                      <ul>
                        <li><a href="#">Social media promotion</a></li>
                        <li><a href="#">Email marketing campaigns</a></li>
                        <li>
                          <a href="#">Influencer outreach and collaborations</a>
                        </li>
                        <li><a href="#">Guest posting and syndication</a></li>
                        <li>
                          <a href="#">Content repurposing and recycling</a>
                        </li>
                        <li>
                          <a href="#"
                            >Content distribution strategy and planning</a
                          >
                        </li>
                        <li><a href="#">Press release distribution</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Analytics and Optimization
                      </h3>
                      <ul>
                        <li>
                          <a href="#"
                            >Content performance tracking and reporting</a
                          >
                        </li>
                        <li><a href="#">Conversion rate optimization</a></li>
                        <li><a href="#">A/B testing</a></li>
                        <li><a href="#">User behavior analysis</a></li>
                        <li>
                          <a href="#">Search engine ranking monitoring</a>
                        </li>
                        <li><a href="#">Content gap analysis</a></li>
                        <li>
                          <a href="#">Content optimization and improvement</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Paid Advertising</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Search Engine Advertising
                      </h3>
                      <ul>
                        <li><a href="#">Google Ads Management</a></li>
                        <li><a href="#">Bing Ads Management</a></li>
                        <li><a href="#">Keyword Research & Analysis</a></li>
                        <li><a href="#">Ad Copywriting</a></li>
                        <li><a href="#">Campaign Optimization</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Social Media Advertising
                      </h3>
                      <ul>
                        <li><a href="#">Facebook Ads Management</a></li>
                        <li><a href="#">Instagram Ads Management</a></li>
                        <li><a href="#">LinkedIn Ads Management</a></li>
                        <li><a href="#">Twitter Ads Management</a></li>
                        <li><a href="#">Ad Creative Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3"></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Email Marketing</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Email Marketing Strategy
                      </h3>
                      <ul>
                        <li><a href="#">Newsletter Design</a></li>
                        <li><a href="#">Email Campaign Analysis</a></li>
                        <li><a href="#">Segmentation and Targeting</a></li>
                        <li><a href="#">Marketing Automation</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Email Content Creation
                      </h3>
                      <ul>
                        <li><a href="#">Copywriting and Editing</a></li>
                        <li><a href="#">Graphics and Visuals</a></li>
                        <li><a href="#">Email Templates</a></li>
                        <li><a href="#">A/B Testing</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Email List Building
                      </h3>
                      <ul>
                        <li><a href="#">Lead Magnets and Opt-In Forms</a></li>
                        <li><a href="#">Email List Management</a></li>
                        <li><a href="#">List Segmentation</a></li>
                        <li><a href="#">Email List Cleaning</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Email Deliverability and Compliance
                      </h3>
                      <ul>
                        <li><a href="#">Email Authentication</a></li>
                        <li><a href="#">Spam Testing and Analysis</a></li>
                        <li><a href="#">CAN-SPAM Compliance</a></li>
                        <li><a href="#">Email Reputation Management</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ruby-menu-mega-shop">
          <a href="#">Programming &amp; Tech</a>
          <div>
            <ul>
              <li class="ruby-active-menu-item">
                <a href="#">Web Development & Design</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Front-End Development</h3>
                      <ul>
                        <li><a href="#">HTML/CSS Development</a></li>
                        <li><a href="#">JavaScript Development</a></li>
                        <li><a href="#">Responsive Web Design</a></li>
                        <li><a href="#">Web Animation Development</a></li>
                        <li><a href="#">UI/UX Design</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Back-End Development</h3>
                      <ul>
                        <li><a href="#">PHP Development</a></li>
                        <li><a href="#">Node.js Development</a></li>
                        <li><a href="#">Python Development</a></li>
                        <li><a href="#">Ruby on Rails Development</a></li>
                        <li><a href="#">Database Development</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">Web Content Management</h3>
                      <ul>
                        <li><a href="#">Wordpress Development</a></li>
                        <li><a href="#">Drupal Development</a></li>
                        <li><a href="#">Joomla Development</a></li>
                        <li><a href="#">Shopify Development</a></li>
                        <li><a href="#">Squarespace Development</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-2"></div>
                    <div class="ruby-col-2">
                      <h3 class="ruby-list-heading">E-Commerce Development</h3>
                      <ul>
                        <li><a href="#">Magento Development</a></li>
                        <li><a href="#">WooCommerce Development</a></li>
                        <li><a href="#">BigCommerce Development</a></li>
                        <li><a href="#">OpenCart Development</a></li>
                        <li><a href="#">Shopify Development</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Mobile Development</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">iOS App Development</h3>
                      <ul>
                        <li><a href="#">iPhone App Development</a></li>
                        <li><a href="#">iPad App Development</a></li>
                        <li><a href="#">Apple Watch App Development</a></li>
                        <li><a href="#">Swift Development</a></li>
                        <li><a href="#">Objective-C Development</a></li>
                        <li><a href="#">ARKit Development</a></li>
                        <li><a href="#">Core Data Development</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">Android App Development</h3>
                      <ul>
                        <li><a href="#">Native Android Development</a></li>
                        <li><a href="#">Hybrid Android Development</a></li>
                        <li><a href="#">Kotlin Development</a></li>
                        <li><a href="#">Java Development</a></li>
                        <li><a href="#">Android SDK Development</a></li>
                        <li><a href="#">Flutter Development</a></li>
                        <li><a href="#">React Native Development</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Cross-Platform Development
                      </h3>
                      <ul>
                        <li><a href="#">Xamarin Development</a></li>
                        <li><a href="#">Ionic Development</a></li>
                        <li><a href="#">PhoneGap Development</a></li>
                        <li><a href="#">React Native Development</a></li>
                        <li><a href="#">Unity Development</a></li>
                        <li><a href="#">Flutter Development</a></li>
                        <li><a href="#">Mobile Game Development</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Software Development</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3"></div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Desktop Application Development
                      </h3>
                      <ul>
                        <li><a href="#">Web Application Development</a></li>
                        <li><a href="#">Desktop Application Development</a></li>
                        <li><a href="#">Mobile Application Development</a></li>
                        <li>
                          <a href="#">Cloud-based Application Development</a>
                        </li>
                        <li><a href="#">Enterprise Software Development</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading">
                        Software Testing and Quality Assurance
                      </h3>
                      <ul>
                        <li><a href="#">Functional Testing</a></li>
                        <li><a href="#">Performance Testing</a></li>
                        <li><a href="#">Security Testing</a></li>
                        <li><a href="#">Usability Testing</a></li>
                        <li><a href="#">Automation Testing</a></li>
                      </ul>
                    </div>
                    <div class="ruby-col-3"></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">IT & Networking</a>
                <div class="ruby-grid ruby-grid-lined">
                  <div class="ruby-row">
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Network Setup and Management
                      </h3>
                      <ul>
                        <li><a href="#">Network Planning and Design</a></li>
                        <li>
                          <a href="#">Network Installation and Configuration</a>
                        </li>
                        <li>
                          <a href="#">Network Monitoring and Maintenance</a>
                        </li>
                        <li>
                          <a href="#"
                            >Network Security Assessment and Management</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Cloud Computing
                      </h3>
                      <ul>
                        <li>
                          <a href="#"
                            >Cloud Infrastructure Design and Deployment</a
                          >
                        </li>
                        <li><a href="#">Cloud Migration Services</a></li>
                        <li><a href="#">Cloud Security and Compliance</a></li>
                        <li>
                          <a href="#">Cloud Optimization and Management</a>
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        IT Support and Helpdesk
                      </h3>
                      <ul>
                        <li><a href="#">Remote IT Support</a></li>
                        <li><a href="#">On-site IT Support</a></li>
                        <li><a href="#">Helpdesk Support</a></li>
                        <li>
                          <a href="#"
                            >Hardware and Software Installation and
                            Configuration</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="ruby-col-3">
                      <h3 class="ruby-list-heading" style="margin-top: 16px">
                        Database Administration
                      </h3>
                      <ul>
                        <li><a href="#">Database Design and Development</a></li>
                        <li>
                          <a href="#"
                            >Database Optimization and Performance Tuning</a
                          >
                        </li>
                        <li><a href="#">Database Backup and Recovery</a></li>
                        <li>
                          <a href="#">Database Security and Compliance</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#">Manage</a>
          <ul>
            <li>
              <a class="user-view" href="#">Switch to Selling</a>
            </li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Navigation</a>
          <ul>
            <li>
              <a class="user-view" href="/">Home</a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/gigs">Gigs</a></li>
            <li><a href="/gigcategories">Gig Categories</a></li>
            <li><a href="/subcategories"> Subcategories</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a style="font-size: .98em" href="/menucategories">Menu Categories</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/interests">Interests</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/reports">Reports</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
