<header>
    <div class="ruby-menu-demo-header ruby-menu-demo-header-bg">
        <div class="ruby-menu-demo-description">
            <img src="img/logo2.png" />
        </div>

        <div class="ruby-wrapper ruby-menu-transparent ">
            <button class="c-hamburger c-hamburger--htx visible-xs">
                <span>toggle menu</span>
            </button>
            <ul class="ruby-menu">
                <li class="ruby-active-menu-item">
                    <a href="#">Graphics &amp Design</a>
                </li>


                <li class="ruby-menu-mega-shop">
                    <a href="#">Digital Marketing</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">Clothing</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">TOPS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-2.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">BOTTOM</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">NIGHTWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-3.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SWIMWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Outerwear</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/outerwear.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Bags &amp; Shoes</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/bags.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/shoes.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/eyewear.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/jewellery.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/watches.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/textile.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="ruby-menu-mega-shop">
                    <a href="#">Digital Marketing</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">Clothing</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">TOPS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-2.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">BOTTOM</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">NIGHTWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-3.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SWIMWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Outerwear</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/outerwear.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Bags &amp; Shoes</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/bags.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/shoes.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/eyewear.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/jewellery.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/watches.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/textile.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="ruby-menu-mega-shop">
                    <a href="#">Digital Marketing</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">Clothing</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">TOPS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-2.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">BOTTOM</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">NIGHTWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <img src="img/outerwear-3.jpg" />
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SWIMWEAR</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Outerwear</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/outerwear.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Bags &amp; Shoes</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/bags.jpg" />
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/shoes.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">
                                            <img src="img/eyewear.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/jewellery.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/watches.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <img src="img/textile.jpg" />
                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>



                <li>
                    <a href="#">Manage</a>
                    <ul>
                        <li>
                            <a class="user-view" href="#">Switch to Selling</a>
                        </li>
                        <li><a href="#">Profile</a></li>
                        <li>
                            <a href="#">2nd Level #3</a>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-university" aria-hidden="true"></i>3rd
                                        Level #1</a>
                                    <ul>
                                        <li><a href="#">4th Level #1</a></li>
                                        <li><a href="#">4th Level #2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>3rd
                                        Level #2</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-users" aria-hidden="true"></i>3rd
                                        Level
                                        #3</a>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>4th Level
                                                #1</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-print" aria-hidden="true"></i>4th
                                                Level #2</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>4th Level
                                                #3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="ruby-open-to-left">
                            <a href="#">2nd Level #4</a>
                            <ul>
                                <li><a href="#">3rd Level #1</a></li>
                                <li><a href="#">3rd Level #2</a></li>
                                <li><a href="#">3rd Level #3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">2nd Level #5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>