<header>
    <div class="ruby-menu-demo-header ruby-menu-demo-header-bg">
        <div class="ruby-menu-demo-description">
            <a href="/"><img src="img/logo2.png" /></a>

        </div>

        <div class="ruby-wrapper ruby-menu-transparent ">
            <button class="c-hamburger c-hamburger--htx visible-xs">
                <span>toggle menu</span>
            </button>
            <ul class="ruby-menu">
                <!-- NAV LINK NUMBER 1 -->
                <li class="ruby-menu-mega-shop">
                    <a href="#">Graphic Design</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="ruby-menu-mega-shop">
                    <a href="#">Video & Animation</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="ruby-menu-mega-shop">
                    <a href="#">Digital Marketing</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <!-- images go here -->
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="ruby-menu-mega-shop">
                    <a href="#">Programming &amp; Tech</a>
                    <div>
                        <ul>
                            <li class="ruby-active-menu-item">
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-2">

                                        </div>
                                        <div class="ruby-col-2">
                                            <h3 class="ruby-list-heading">SUBCATEGORY</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">COATS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">JACKETS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">LEATHER</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                                <li><a href="#">Menu Item #6</a></li>
                                                <li><a href="#">Menu Item #7</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">BAGS</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">
                                            <h3 class="ruby-list-heading">SHOES</h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                                <li><a href="#">Menu Item #5</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">CATEGORY</a>
                                <div class="ruby-grid ruby-grid-lined">
                                    <div class="ruby-row">
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                EYEWEAR
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                JEWELLERY
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                WATCHES
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                        <div class="ruby-col-3">

                                            <h3 class="ruby-list-heading" style="margin-top: 16px">
                                                OTHERS
                                            </h3>
                                            <ul>
                                                <li><a href="#">Menu Item #1</a></li>
                                                <li><a href="#">Menu Item #2</a></li>
                                                <li><a href="#">Menu Item #3</a></li>
                                                <li><a href="#">Menu Item #4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>



                <li>
                    <a href="#">Manage</a>
                    <ul>
                        <li>
                            <a class="user-view" href="#">Switch to Selling</a>
                        </li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Navigation</a>
                    <ul>
                        <li>
                            <a class="user-view" href="/">Home</a>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>