<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/contact.css">
  <title>Index page</title>
  <%- include('partials/head') %>
</head>

<body>

  <%- include('partials/header') %>

    <main>
      <h1>Contact Form</h1>
      <form class="cf">
        <div class="half left cf">
          <input class="form" type="text" id="input-name" placeholder="Name">
          <input class="form" type="email" id="input-email" placeholder="Email address">
          <input class="form" type="text" id="input-subject" placeholder="Subject">
        </div>
        <div class="half right cf">
          <textarea class="form" name="message" type="text" id="input-message" placeholder="Message"></textarea>
        </div>
        <input type="submit" value="Submit" id="input-submit">
      </form>
    </main>
    <%- include('partials/footer') %>
</body>

</html>