
*{
    margin: 0;
    padding: 0;
}

main{
  padding-bottom: 0em;
}

body {
    margin: 0;
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  

  .intro,
  .who-we-are,
  .about-founder {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: left;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .intro > p,
  .who-we-are > p,
  .about-founder > p {
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  
  section > h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 30px;
    color: #26b379;
  }
  
  .about-founder > h2 {
    font-size: 1.2em;
    font-family: "Gentium Book Basic";
    font-weight: bold;
    color: #26b379;
  }
  

  
  @media only screen and (max-width:500px){

    .intro,
    .who-we-are,
    .about-founder,
    .content-footer {
      font-size: 1em;
    }
  }