*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0;
    padding: 0;
}

.ad-banner img{
    width: 40em;
}
.ad-banner {
    display: flex;
    justify-content: center;
}