@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

div.ruby-menu-demo-header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  z-index: 99999;
}

.three-d {
  margin-top: 10em;
}

div.ruby-menu-demo-header-bg {
  background: url(../img/bg2.jpg);
}

div.ruby-menu-demo-header-bg div.ruby-menu-demo-download > span {
  color: #efefef;
}

div.ruby-menu-demo-header-bg div.ruby-menu-demo-download > span > span {
  color: #efefef;
}

div.ruby-menu-demo-description {
  position: relative;
  width: 980px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

div.ruby-menu-demo-description img {
  max-width: 200px;
  float: left;
  margin: 50px 20px 0 0;
}

footer p {
  color: #888;
}

footer {
  margin-top: 3em;
}

div.footer-body {
  width: 100%;
  height: fit-content;
  background-color: #232f3e;
  position: relative;
  bottom: 0;
}

div.footer-body {
  display: grid;
  grid-template-columns: 1fr;
  /* overflow: hidden; */
}

div.footer-div ul {
  list-style: none;
}

div.footer-div ul li a {
  text-decoration: none;
  color: #888;
}

div.footer-div ul {
  display: flex;
  flex-direction: column;
}

div.footer-div ul li {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  div.footer-body {
    grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  }

  div.footer-body {
    width: 100%;
    height: 30vh;
    background-color: #232f3e;
    position: relative;
    bottom: 0;
  }

  div.footer-div {
    padding: 0em;
  }

  div.footer-body {
    gap: 2em;
  }
}

div.footer-div {
  width: 100%;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.footer-div h1 {
  color: white;
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 2em;
}

div.bottom-bar {
  width: 100%;
  background-color: #131a22;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.footer-nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

div.footer-nav ul {
  display: flex;
  list-style: none;
}

.text-container {
  width: 70%;
  text-align: center;
  padding-bottom: 1em;
}

div.footer-nav ul li a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  color: whitesmoke;
}

.icon-box {
  width: 2em;
  height: 2.1em;
  display: flex;
  justify-content: center;
  border-radius: 0.2em;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.yt {
  background-color: red;
}

.ig {
  background-color: white;
}

.fb {
  background-color: #3b5998;
}

.tw {
  background-color: #55acee;
}
.container {
  display: flex;
  justify-content: center;
}
.sub-email,
.sub-button {
  font-family: "Poppins";
  padding: 1em;
  width: 20em;
  font-weight: 500;
  border-radius: 0.5em;
  border: none;
  margin-bottom: 0.5em;
}

.sub-button {
  background-color: #26b379;
  color: white;
}

/* MEDIA QUERY --> SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }

  div.ruby-menu-demo-description {
    position: relative;
    width: 760px;
    height: 160px;
    margin: 0 auto;
    padding: 0;
  }

  div.ruby-menu-demo-description img {
    max-width: 200px;
    float: left;
    margin: 10px 20px 0 0;
  }
}
