<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1> New Record</h1>
        <form action="/gigs" method="post">
            <table>
            <tr> <td> Gig Title: </td> <td> <input type="text" name="title" required> </td> </tr>
            <!-- <tr> <td> Image: </td> <td> <input type="text" name="prodimage" required> </td> </tr> -->
            <tr> <td> Gig Description: </td> <td> <textarea name="description" rows="10" cols="30"
            placeholder="Description" required></textarea> </td> </tr>
            <tr> <td> Gig Price: </td> <td> <input type="text" name="price" required> </td> </tr>
            <tr> <td> Gig Delivery Time: </td> <td> <input type="text" name="time" required> </td> </tr>
            <tr> <td> Seller ID: </td> <td> <input type="text" name="sellerID" required> </td> </tr>
            <tr> <td> Gig Category ID: </td> <td> <input type="text" name="gigCatID" required> </td> </tr>
            <tr> <td> Homepage Status: </td> <td> <input type="checkbox" name="status" > </td> </tr>

            </table>
            <button type="submit">Save</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

